:root {
    --cor-primaria: #f9f8fc;
    --cor-secundaria: #94a3b8;
    --cor-destaque: #151a2d;
    --cor-fundo: #0f172a;
    --cor-texto: #f8fafc;
    --cor-card: #1e293b;
    --espacamento: 20px;
    --arredondamento: 10px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: column;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    margin-bottom: 25px;
}

header {
    background-color: var(--cor-destaque);
    color: var(--cor-primaria);
    text-align: center;
    padding: 25px;
}

header h1 {
    margin: 0;
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;

    display: flex;
    flex-direction: column;
    gap: var(--espacamento);
    flex-wrap: wrap;
}

section {
    background-color: var(--cor-card);
    border: 2px solid var(--cor-secundaria);
    border-radius: var(--arredondamento);

    padding: 30px;

    flex: 1;
    min-width: 300px;
}

section h2 {
    margin-top: 0;
    text-align: center;
}

input {
    width: 70%;
    padding: 12px;

    border: none;
    border-radius: var(--arredondamento);

    color: var(--cor-destaque);
    background-color: var(--cor-primaria);

    outline: none;
}

input:focus {
    outline: 2px solid var(--cor-secundaria);
}

button {
    width: 25%;
    padding: 12px;

    border: none;
    border-radius: var(--arredondamento);

    background-color: var(--cor-destaque);
    color: white;

    cursor: pointer;
    font-weight: bold;

    transition: 0.2s;
}

button:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-destaque);
}

.delete-btn {
    background-color: rgb(202, 69, 69);
}

.delete-btn:hover {
    background-color: rgb(141, 33, 33);
    color: white;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

#list {
    display: flex;
    flex-direction: column;

    list-style: none;

    gap: 15px;

    padding: 0;
    margin: 0;
}

#list li {
    background-color: var(--cor-destaque);

    padding: 15px;

    border-radius: var(--arredondamento);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container {
    width: 75%;
}

.button-container {
    width: 25%;
    display: flex;
    gap: 10px;
}

.button-container button {
    width: 100%;
}

footer {
    margin-top: auto;

    padding: 30px;

    background-color: var(--cor-destaque);

    color: var(--cor-secundaria);

    text-align: center;
}

footer p {
    margin: 0;
}

@media (max-width: 700px) {
    main {
        width: 95%;
        flex-direction: column;
    }

    section {
        width: 100%;
        min-width: 0;
    }

    input {
        width: 100%;
        margin-bottom: 10px;
    }

    button {
        width: 100%;
    }
}